#wifi-stuff {
  float: right;
  height: 50%;
  width: 50%;
  font-size: 15px;
  padding-top: 100px;
}

#wwc-logo {
  float: right;
  height: 50%;
  width: 50%;

}

#head {
  color: white;
}

#twitter-handles{
  color: white;
}
