#wifi-stuff {
  float: right;
  height: 50%;
  width: 50%;
  font-size: 15px;
  padding-top: 100px;
}

#wwc-logo {
  float: right;
  height: 50%;
  width: 50%;

}

#head {
  color: white;
}

#twitter-handles{
  color: white;
}

#right {
  float: right !important;

  img {
    height: 50%
    width: 50%
  }
}

#left {
  float: left !important;

  img {
    height: 50%
    width: 50%
  }
}
